---
import Layout from '../layouts/Layout.astro';
import Accordion from '../components/Accordion.astro';

const faqItems = [
  {
    question: "¿Qué es el Fitness Camp?",
    answer: "El Fitness Camp es un campamento intensivo diseñado para retar tus límites y potenciar tu mentalidad através del deporte."
  },
	{
    question: "¿En donde se realizará?",
    answer: "El Fitness Camp se llevará a cabo en el Casino Central de Suboficiales de la Fuerza Aerea Colombiana: Hotel Club Las Delicias. En Tocaima, Cundinamarca "
  },
  {
    question: "¿Cuáles son las disciplinas deportivas incluidas?",
    answer: "El campamento incluye Natación, Crossfit, Running y Yoga."
  },
	{
    question: "¿Quienes pueden asistir al campamento?",
    answer: "Al campamento pueden asistir personas mayores de 18 años sin importar el nivel de experiencia deportiva. Las actividades están diseñadas para que tanto novatos como expertos reten sus propios límites y disfruten al máximo de cada experiencia."
  },
	{
    question: "¿Cuanto cuesta el campamento?",
    answer: "El campamento tiene un costo de $400.000. Pagando el 100% en el mes de Junio y Julio, la inscripción queda en $380.000 por persona. Este mismo valor aplica para parejas y grupos en general"
  },
	{
    question: "¿Qué incluye el campamento?",
    answer: "Incluye transporte de ida y regreso desde el municipio de Mosquera. Desayuno y almuerzo del sábado y del domingo. Cena del Sábado. Hospedaje por una noche. Kit Deportivo. Implementos y participación en las diferentes actividades."
  },
  {
    question: "¿Cómo puedo registrarme?",
    answer: "Puedes registrarte en el botón azul que encuetras en la parte inferior derecha de esta página. O contactarte por Whatsapp en el botón verde."
  },
];
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="floating-buttons">
			<a href="https://forms.gle/xDuxEDrkmYccFKRp9" class="floating-button form-button" target="_blank">
				<i class="fas fa-edit"></i>
			</a>
			<a href=" https://w.app/fitnessCamp" class="floating-button" target="_blank">
				<i class="fab fa-whatsapp"></i>
			</a>
		</div>
		<section>
			<div class="hero-container">
				<img src="/images/flame.png" alt="Trazo">
				<h1 style={{color: '#E94E1B', margin: '1rem'}}>Fitness Camp</h1>
				<span>Expande tus límites, potencializa tu ser.</span>
				
			</div>
		</section>
		<div class="bg-transparent">
			<div id="information-container" class="information-container">
					<p>Natación, Crossfit, Running, Yoga, Mindset</p>
					<p>24 y 25 de agosto</p>
					<img src="public/images/icons/location.png" alt="Trazo">
					<p>Tocaima, Cundinamarca</p>
					<p></p>
				</div>
		</div>
		<section id="section2">
			<div class="bg-orange">
				<p class="description">
					Sabemos que el deporte es una herramienta poderosa para <strong class="highlight">transformar</strong> vidas.
				</p>
				<p class="description">
					Fitness Camp, es una experiencia de inmerción deportiva para entrenar tu cuerpo y tu <strong class="highlight">mente</strong>. <br />
				</p>
				<p class="description">
					A traves de 4 disciplinas y actividades de mindset se trabaja la técnica, se retan los límites y entrena la mente para <strong class="highlight">potenciar</strong> el <strong class="highlight">ser</strong>.
				</p>
				<div class="schedule">
					<div class="section-title-container">
						<h2>Actividades</h2>
					</div>
					<div class="days">
						<div class="day">
							<div class="day-title">
								<h3>Sábado</h3>
								<img src="/images/icons/subrayado.png" alt="Trazo">
							</div>
							<p>
								El primer día del campamento se centrará en actividades acuáticas y de alta intensidad, seguidas de experiencias que impulsarán tu mente al siguiente nivel.
							</p>
							<ul>
								<li><div class='li-activities'><img src="/images/icons/swimming.png" alt="Natación"> <span>Natación</span></div></li>
								<li><div class='li-activities'><img src="/images/icons/crossfit.png" alt="Crossfit"> <span>Crossfit</span></div></li>
								<li><div class='li-activities'><img src="/images/icons/midSet.png" alt="Mind Set"> <span>Mind Set</span></div></li>
							</ul>
						</div>
						<div class="day">
							<div class="day-title">
								<h3>Domingo</h3>
								<img src="/images/icons/subrayado.png" alt="Trazo">
							</div>
							<p>El segundo día se enfocará en actividades de carrera y bienestar, ayudándote a encontrar tu ritmo y equilibrar tu mente y cuerpo.
							</p>
							<ul>
								<li><div class='li-activities'><img src="/images/icons/running.png" alt="Running"> <span>Running</span></div></li>
								<li><div class='li-activities'><img src="/images/icons/yoga.png" alt="Yoga"> <span>Yoga</span></div></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="schedule" style={{paddingBottom: '10rem'}}>
					<div class="section-title-container" style={{marginBottom: '2rem'}}>
						<h2>Preguntas Frecuentes</h2>
					</div>
					<Accordion items={faqItems} />
				</div>
			</div>
		</section>
			<div class="bg-black">
				<div style={{color: '#E94E1B', margin: '1rem', marginTop: '-8rem', background: 'black', zIndex: '2', borderRadius: '45px', borderBottom: 'solid 0.2rem green', borderTop: 'solid 0.2rem green'}}>
					<h1 style={{margin: '0', padding: '1rem'}}>El equipo del Fitness Camp</h1>
				</div>

				<div class="couple-team-container">
					<div class="team-member-card">
						<div class="team-member-card-item">
							<div class="image-container">
								<img src="/images/team/nico.png" alt="Persona en Fitness Camp" class="styled-image" />
							</div>
						</div>
						<div class="team-member-card-item">
							<div class="company-banner tnt-banner" />
							<h2>Nicolás Rodriguez</h>
							<h3>CEO y Fundador de TnT Company</h3>
							<a href="https://www.instagram.com/tandt.company/" class="container-button-insta" target="_blank">
								<div class="floating-button-insta">
									<i class="fab fa-instagram"></i>
								</div>
								@tandt.company
							</a>
							<p>
								Nicolás Rodríguez es el visionario detrás de TnT Company, un centro de entrenamiento crossfit líder en Sabana Occidente. Técnico en entrenamiento deportivo y certificado en Crossfit Level 1, cuenta con más de diez años de experiencia en el acompañamiento y acondicionamiento deportivo. Ha sido participante y coordinador de importantes encuentros deportivos a nivel nacional, incluyendo TnT Games, FitLand, y House Lift, entre otros.
							</p>
						</div>
					</div>
	
					<div class="team-member-card">
						<div class="team-member-card-item">
							<div class="image-container">
								<img src="/images/team/juancaYDiego.png" alt="Persona en Fitness Camp" class="styled-image" />
							</div>
						</div>
						<div class="team-member-card-item">
							<div class="company-banner mrc-banner" />
								<h2>Juan Rodriguez y Diego Fontecha</h>
								<h3>CEO y Cofundadores de Mosquera RC</h3>
								<a href="https://www.instagram.com/mosquerarunningclub/" class="container-button-insta" target="_blank">
									<div class="floating-button-insta">
										<i class="fab fa-instagram"></i>
									</div>
									@mosquerarunningclub
								</a>
								<p>
									Juan Camilo Rodriguez y Diego Fontecha son los líderes del primer club de atletismo en Mosquera, Mosquera Running Club. Han creado y gestionado tres eventos deportivos que han atraído a más de 800 asistentes. Con más de cinco años de experiencia como club y más de quince años en el ámbito deportivo, han establecido un legado de excelencia y dedicación en la comunidad atlética.
								</p>
						</div>
					</div>
				</div>

				<div class="couple-team-container">
					<div class="team-member-card">
						<div class="team-member-card-item">
							<div class="image-container">
								<img src="/images/team/dani.yoga.png" alt="Persona en Fitness Camp" class="styled-image" />
							</div>
						</div>
						<div class="team-member-card-item">
							<div class="company-banner vital-medic-banner" />
								<h2>Daniel Angulo</h2>
								<h3>Socio y Fundador de Vital Medic</h3>
								<a href="https://www.instagram.com/vitalmedicmosquera/" class="container-button-insta" target="_blank">
									<div class="floating-button-insta">
										<i class="fab fa-instagram"></i>
									</div>
									@vitalmedicmosquera
								</a>
								<p>
									Daniel Angulo es el fundador de Vital Medic, los primeros centros de bienestar en Mosquera que promueven la práctica de yoga y pilates. Con más de cinco años de experiencia como practicante y maestro de yoga, ha guiado a sus alumnos en diversos eventos deportivos nacionales, llevando el nombre de Mosquera con orgullo y compromiso.
								</p>
						</div>
					</div>

					<div class="team-member-card">
						<div class="team-member-card-item">
							<div class="image-container">
								<img src="/images/team/puma.png" alt="Persona en Fitness Camp" class="styled-image" />
							</div>
						</div>
						<div class="team-member-card-item">
							<div class="company-banner fitness-camp-banner" />
								<h2>Andres Puma</h2>
								<h3>Wellness Coach</h3>
								<a href="https://www.instagram.com/andresspuma/" class="container-button-insta" target="_blank">
									<div class="floating-button-insta">
										<i class="fab fa-instagram"></i>
									</div>
									@andresspuma
								</a>
								<p>
									Andres Puma es un instructor deportivo con más de diez años de experiencia en el acompañamiento y acondicionamiento físico. Su expertise abarca disciplinas como natación, gimnasia y crossfit. Como wellness coach, Andres se dedica a inspirar y guiar a sus clientes hacia una vida más saludable y activa.
								</p>
							</div>
					</div>
				</div>
			</div>
			<div class="bg-black-aux"></div>
		</section>
		<section>
		</section>
	</main>
	<script>

		document.addEventListener('DOMContentLoaded', () => {
			const observer = new IntersectionObserver((entries) => {
				entries.forEach(entry => {
					if (entry.isIntersecting) {
						entry.target.classList.add('visible');
					} else {
						entry.target.classList.remove('visible');
					}
				});
			}, { threshold: 0.1 });

			document.querySelectorAll('.bg-black .team-member-card').forEach(div => {
				observer.observe(div);
			});
		});

		document.addEventListener('DOMContentLoaded', () => {
    const infoContainer = document.getElementById('information-container');
		console.log('infoContainer', infoContainer)
    setTimeout(() => {
      infoContainer?.classList.add('visible');
    }, 1000);
  });
	</script>
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
	.couple-team-container {
		width: 85%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: self-start;
	}

	.small-text {
		font-family: 'Caveat', cursive;
  	color: white;
  	font-size: 120px;
		font-weight: 100;
		text-shadow: 3px 3px 0 #39B54A,
               -3px -3px 0 #39B54A, 
               3px -3px 0 #39B54A,
               -3px 3px 0 #39B54A;
}

#faq {
    max-width: 800px;
    margin: auto;
  }
	main {
		position: relative;
		margin: auto;
		padding: 0;
		height: 95vh;
		width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
		z-index: 1;
	}

	h1 {
		text-align: center;
	}
	
	main::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/hero.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
	}
	.section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(233, 78, 27, 0.5), rgba(233, 78, 27, 0.5)), url('/path/to/your/image.jpg');
    background-size: cover;
    background-position: center;
  }


	.hero-container p {
		text-align: center;
	}
	.hero-container h1 {
		font-size: 10rem;
	}
	.information-container p{
		padding: 0 5rem;
		margin: 0.2rem 0;
		text-align: center;
		font-family: 'Oswald', sans-serif;
	}
	.information-container img{
		height: 2rem;
		margin-top: 2rem;
	}
	.information-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		opacity: 0;
		margin-top: 0%;
		background-color: black;
		transition: opacity 1s ease-in;
		-webkit-box-shadow: 0px 0px 32px 4px rgba(255,240,209,1);
		-moz-box-shadow: 0px 0px 32px 4px rgba(255,240,209,1);
		box-shadow: 0px 0px 32px 4px rgba(255,240,209,1);
		border-radius: 20px;
		padding: 2rem;
	}
	.information-container.visible {
		opacity: 0.9;
  }

	.company-banner {
		margin: 0;
		padding: 0;
		height: 5rem;
		width: 100%;
    background-size:contain;
		background-repeat: no-repeat;
    background-position: center;
		border-radius: 10px;
	}

	.tnt-banner {
		background-image: url('public/images/tnt.png');
		background-color: white;
	}
	.mrc-banner {
		background-image: url('public/images/mrc-pink.png');
		background-color: #dc2792;
	}
	.vital-medic-banner {
		background-image: url('public/images/vitalMedic.png');
		background-color: #00a4e1;
	}
	.fitness-camp-banner {
		background-image: url('public/images/fitCamp.png');
		background-color: white;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.hero-container {
		align-items: center;
		justify-content: center;
		background-color: black;
		opacity: 0.9;
		display: flex;
		flex-direction: center;
		flex-direction: column;
		height: 100vh;
		width: 100%;
		margin: 0;
		padding: 0;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
		z-index: -1;
	}

	.hero-container::before {
    content: "";
    position: fixed;
    background-image: url('/images/flame.png');
		background-attachment: fixed;
    background-size: auto;
		background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
	}
	.bg-transparent {
		font-size: 2rem;
		align-items: center;
		justify-content: center;
		display: flex;
		height: 500px;
		width: 100%;
		background-color: transparent;
		z-index: 1;
	}
	.bg-orange {
		width: 100%;
		background-color: #E94E1B;
		z-index: 1;
		padding-top: 10%;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		mask-image: linear-gradient(to top, #E94E1B 90%, transparent 100%);
		display: flex;
		align-items: center;
		flex-direction: column;
		background: linear-gradient(rgba(233, 78, 27, 1), rgba(233, 78, 27, 0.9)), url('/images/bg-transparentFlame.png');
    background-size: cover;
    background-position: center;
    opacity: 1; 
	}
	.bg-orange .description {
		margin: 0;
		width: 70%;
		text-align: center;
		font-size: 1.5rem;
		color: black
	}
	.bg-orange-aux {
		height: 100px;
		width: 100%;
		background-color: #E94E1B;
		z-index: 1;
		padding: 0;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		mask-image: linear-gradient(to bottom, #E94E1B 10%, transparent 100%);
	}
	.bg-black-aux {
		height: 100px;
		width: 100%;
		background-color: black;
		z-index: 1;
		padding: 0;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		mask-image: linear-gradient(to bottom, #E94E1B 10%, transparent 100%);
	}

	.bg-black .team-member-card {
		opacity: 0;
		transition: opacity 2s ease-in-out;
	}

	.bg-black .team-member-card.visible {
		opacity: 1;
	}

	.bg-black {
		align-items: center;
		justify-content: start;
		background-color: black;
		display: flex;
		flex-direction: center;
		flex-direction: column;
		margin: 0;
		padding: 5rem 0;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}

	/* Estilos para la imagen */
	.image-container {
		position: relative;
		display: inline-block;
		overflow: hidden;
		height: 80%;
	}

	.styled-image {
		display: block;
		width: 100%;
		height: 500px;
		position: relative;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
	}

	.image-container::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(transparent 70%, black 100%);
		pointer-events: none;
	}

	.section-title-container {
		max-width: 25rem;
		background-color: black;
		border: solid 0.2rem #39B54A;
		width: auto;
		border-radius: 50px;
		display: flex;
		justify-content: center;
		color: white
	}

	.section-title-container h2 {
		margin: 0.5rem;
	}

	.schedule {
		width: 70%;
		margin-top: 4rem;
	}
	.days {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 2rem;
	}
	.day {
		width: 45%;
	}
	.li-activities img {
		height: 2rem;
		background-color: white;
		border-radius: 50%;
	}
	.day li {
		list-style:none;
	}
	.li-activities {
		display: flex;
		flex-direction: row;
		align-items: start;
		margin: 1rem 0;
	}
	.li-activities  span {
		padding: 0 1rem ;
		margin: 0;
	}
	.day-title {
		background-color: transparent;
	}
	.day-title h3 {
		margin: 0;
		padding: 0;
	}
	.day-title img{
		width: 5rem;
		margin: 0;
		padding: 0;
	}

	.section2-visible main::before {
		background-image: url('/images/hero.webp'); /* Cambia la imagen de fondo aquí */
	}

	.highlight {
		color: #39B54A;
		background: black;
		border-radius: 15px;
		-webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.89);
		-moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.89);
		box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.89);
		padding: 0 0.3rem;
	}
	.team-member-card {
		display: flex;
		flex-direction: row;
		width: 50%;
		padding-top: 3rem;
	}
	.team-member-card-item {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.team-member-card-item h2 {
		margin: 2rem 0 0 0;
		padding: 0;
	}
	.team-member-card-item h3 {
		margin: 0 0 2rem 0;
		padding: 0;
	}
	.second-team-member-card-item img,
	.team-member-card-item img {
		filter: drop-shadow(4px 6px 12px #E94E1B)
	}
	.second-team-member-card-item {
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.second-styled-image {
		display: block;
		width: 100%;
		height: 200px;
		position: relative;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
	}

	.floating-buttons {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px; /* Space between buttons */
      z-index: 1000;
    }

    .floating-button {
      background-color: #25d366;
      color: white;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      text-decoration: none;
    }

		.floating-button-insta {
      background-color: #E1306C;
      color: white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      text-decoration: none;
			margin-right: 0.5rem;
    }

		.container-button-insta {
			text-decoration: none;
			display: flex;
			flex-direction: row;
			color: white;
			padding-bottom: 0.5rem;
			border-bottom: 2px solid #E94E1B;
		}

    .form-button {
      background-color: #007bff;
      border-radius: 50%;
    }

    .floating-button i {
      font-size: 30px;
    }

	@media (max-width: 1024px) {
    main {
      width: 130%;
    }
		main::before {
			background-size: auto;
			background-attachment: fixed;
    }
		.hero-container h1 {
			font-size: 4rem;
		}
		.bg-transparent {
			font-size: 1.5rem;
		}
		.information-container {
			padding: 1rem 0;
		}
		.bg-orange {
			padding-top: 30%;
			mask-image: linear-gradient(to top, #E94E1B 95%, transparent 100%);
		}
		.bg-orange .description {
			width: 85%;
			font-size: 2rem;
			margin: 1rem;
		}
		.schedule {
			width: 85%;
		}
		.days {
			flex-direction: column;
			padding: 2rem 0;
		}

		.days > div:nth-child(2) {
			margin-top: 2rem;
		}
		.day {
			width: 100%;
		}
		.day p {
			font-size: 1.5rem;
		}
		.day h3 {
			font-size: 2rem;
		}
		.section-title-container  {
			margin: 0 auto;
		}
		.couple-team-container {
			width: 90%;
			flex-direction: column;
		}
		.team-member-card {
			flex-direction: column;
			width: 100%;
			border-bottom: 1px solid #39B54A;
			padding-top: 0;
		}
		.team-member-card-item {
			width: 100%;
		}
		
  }
</style>